<div class="container">
    <div class="row">
        <main class="col-md-12">

            <form method="POST" action="/courses/add">
                <fieldset>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Course Code</label>
                                <input type="text" class="form-control" name="courseCode" />
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="mb-3">
                                <label class="form-label">Course Description</label>
                                <input type="text" class="form-control" name="courseDescription" />
                            </div>
                        </div>
                    </div>
                </fieldset>






                <hr>

                <input type="submit" class="btn btn-primary float-end" value="Add Course" /><br><br><br>
            </form>



            <!-- End your code here  -->

        </main>
    </div>
</div>