<div class="container">
    <div class="row">
        <main class="col-md-12">

            <form method="POST" action="/students/add">
                <fieldset>
                    <legend>Personal Information</legend>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">First Name:</label>
                                <input type="text" class="form-control" name="firstName" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Last Name:</label>
                                <input type="text" class="form-control" name="lastName" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Email:</label>
                                <input type="email" class="form-control" name="email" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label">Address (Street):</label>
                                <input type="text" class="form-control" name="addressStreet" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label">Address (City):</label>
                                <input type="text" class="form-control" name="addressCity" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label">Address (Province):</label>
                                <input type="text" class="form-control" name="addressProvince" />
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Academic Information</legend>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="mb-2">College Employment:</label>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="TA" name="TA">
                                <label class="form-check-label" for="TA">Teaching Assistant</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label">Enrollment Status:</label><br>
                                <div class="form-check form-check-inline">
                                    <input name="status" type="radio" class="form-check-input" id="fullTime"
                                        value="Full Time">
                                    <label class="form-check-label" for="fullTime">Full Time</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input name="status" type="radio" class="form-check-input" id="partTime"
                                        value="Part Time">
                                    <label class="form-check-label" for="partTime">Part Time</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label">Enrolled in Course:</label>
                                {{#if courses}}
                                <select class="form-select" name="course" id="course">
                                    <option value="">Select Course</option>
                                    {{#each courses}}
                                    <option value="{{courseId}}">{{courseCode}}</option>{{/each}}
                                </select>{{else}}<div>No Courses</div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </fieldset>

                <hr>

                <input type="submit" class="btn btn-primary float-end" value="Add Student" /><br><br><br>
            </form>



            <!-- End your code here  -->

        </main>
    </div>
</div>