    <div class="container">
        <div class="row">
            <main class="col-md-12">

                <section>
                    <h2>Tables</h2>

                    <table border="1">
                        <caption>Table 1: Products</caption>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Apple</td>
                                <td>$1000.00</td>
                                <td>8</td>
                            </tr>
                            <tr>
                                <td>Samsung</td>
                                <td>$1400.00</td>
                                <td>9</td>
                            </tr>
                            <tr>
                                <td>Microsoft</td>
                                <td>$1250</td>
                                <td>12</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">Total products: 3</td>
                            </tr>
                        </tfoot>
                    </table>

                    <table border="1">
                        <caption>Table 2: Courses in BTT</caption>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Code</th>
                                <th>in which Sem</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Web Programming</td>
                                <td>WEB700</td>
                                <td>Second</td>
                            </tr>
                            <tr>
                                <td>Programming Fundamentals</td>
                                <td>PRG600</td>
                                <td>First</td>
                            </tr>
                            <tr>
                                <td>Traditional Networks</td>
                                <td>NWK780</td>
                                <td>Second</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">Total courses: 3</td>
                            </tr>
                        </tfoot>
                    </table>

                    <p>This section contains two tables: one displaying product information and the other showing courses in BTT.</p>
                </section>

				<section>
					<h2>Lists</h2>

					<ol>
						<li>Countries</li>
						<ul>
							<li>Canada</li>
							<li>United States</li>
							<li>Mexico</li>
							<li>Brazil</li>
							<li>China</li>
						</ul>
						<li>Continents</li>
						<ul>
							<li>North America</li>
							<li>South America</li>
							<li>Europe</li>
							<li>Africa</li>
							<li>Asia</li>
						</ul>
						<li>Oceans</li>
						<ul>
							<li>Pacific Ocean</li>
							<li>Atlantic Ocean</li>
							<li>Indian Ocean</li>
						</ul>
						<li>Planets</li>
						<ul>
							<li>Mercury</li>
							<li>Venus</li>
							<li>Earth</li>
							<li>Mars</li>
							<li>Jupiter</li>
						</ul>
						<li>Mountains</li>
						<ul>
							<li>Mount Everest</li>
							<li>K2</li>
							<li>Kangchenjunga</li>
							<li>Lhotse</li>
							<li>Makalu</li>
						</ul>
					</ol>

					<p>This section contains ordered lists of countries, continents, oceans, planets, and mountains, with countries listed first followed by continents.</p>
				</section>
				<section>
                    <h2>Images</h2>
            
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Snowboarder Image" >
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/%28Toulouse%29_Spiroceras_orbignyi_-_Bajocien_-_Calvados_France_-_Museum_de_Toulouse.jpg" alt="Fossil Image" style="width: 500px; height: 300px;">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Ampelomeryx_ginsburgi_MHNT.PAL.2006.0.36_-_Reconstitution_3D_grandeur_nature.jpg" style="width: 500px; height: 300px;">
          
                    <p>Section for HTML images.</p>
                </section>
            
                <section>
                    <h2>Audio</h2>
            
                    <audio controls>
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2023/web700/A3/sample-audio.mp3" type="audio/mpeg">
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2023/web700/A3/sample-audio.ogg" type="audio/ogg">
                        Your browser does not support the audio element.
                    </audio>
            
                    <p>Section for HTML5 audio.</p>
                </section>
            
                <section>
                    <h2>Video</h2>
            
                    <video controls>
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2023/web700/A3/sample-video.mp4" type="video/mp4">
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2023/web700/A3/sample-video.ogg" type="video/ogg">
                        Your browser does not support the video element.
                    </video>
            
                    <p>Section for HTML5 video.</p>
                </section>


            </main>
        </div>
    </div>


<table style="width: 80%;">
				<caption>Table 1: Details of stuednts studying in seneca college at different campus.</caption>
				<thead>
					<tr>
						<th rowspan="2">S.N</th>
						<th colspan="2">Name</th>
						<th rowspan="2">Address</th>
						<th rowspan="2">Course</th>
						<th rowspan="2">Campus</th>
					</tr>
					<tr>
						<th>First Name</th>
						<th>LastName</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1. </td>
						<td>Rishi</td>
						<td>Dangol</td>
						<td>199 this cres.</td>
						<td>Database Application Developer</td>
						<td>Newnham</td>
					</tr>
					<tr>
						<td>2. </td>
						<td>Subash</td>
						<td>Dhtial</td>
						<td>216 calvert</td>
						<td>Database Application Developer</td>
						<td>Newnham</td>
					</tr>
					<tr>
						<td>3. </td>
						<td>Sudip </td>
						<td>Poudel</td>
						<td>56 finch</td>
						<td>Project Management</td>
						<td>Newnham</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="6" class="text-center">Students of Seneca</td>
					</tr>
				</tfoot>
			</table>